extends layout

block content
    h1(id="login-title") Please log in
    if error
        p.
            #{error}
    form(action=action, method="POST")
        input(type="hidden", name="_csrf", value=csrfToken)
        input(type="hidden", name="challenge", value=challenge)
        table(style="")
            tr
                td
                    input(type="tel", id="email", name="email", value=hint, placeholder="shadowy@galoy.io")
                td.
        input(type="checkbox", id="remember", name="remember", value="1")
        label(for="remember") Remember me
        br
        input(type="submit", id="accept", name="submit", value="Log in")
        input(type="submit", id="reject", name="submit", value="Deny access")